{{#if title}}
  <header>
    <h2>{{title}}</h2>
  </header>
{{/if}}
{{#if info}}
  <div class="wrapper" {{#if isLoading}} data-is-loading{{/if}}>
    {{#if data}}
      <table>
        {{#if showColumnNames}}
          <tr>
            {{#each columnLabels}}
              <th {{#if size}} style="width:{{size}}%" {{/if}} >{{label}}</th>
            {{/each}}
          </tr>
        {{/if}}
        {{#each data}}
          <tr>
            {{#each this}}
              {{#if this.nowrap}}
              <td class="no-wrap">
              {{/if}}
              {{#unless this.nowrap}}
              <td>
              {{/unless}}
              {{#if this.href}}
                <a href="{{this.href}}">{{this.label}}</a>
              {{/if}}
              {{#unless this.href}}
                {{this.label}}
              {{/unless}}
            </td>
            {{/each}}
          </tr>
        {{/each}}
      </table>
      <footer>
        <div>
          {{#if hasPrev}}
            <button id="btnPrev">PREV</button>
          {{/if}}
          {{#if hasNext}}
            <button id="btnNext">NEXT</button>
          {{/if}}
        </div>
        <p class="info">{{info}}</p>
      </footer>
    {{/if}}
  </div>
{{/if}}
{{#unless info}}
  <div class="error">
    {{#if status}}
      ERROR {{status}}<br>
    {{/if}}
    {{statusText}}
  </div>
{{/unless}}
