<div class="wrapper">
  <p class="tax-id">
    <span class="key">Taxonomy ID: </span>
    <span class="value">{{taxid}}</span>
    <span class="links">
      <a class="link-btn" target="_blank" href="{{ncbiUrl}}">NCBI</a>
      <a class="link-btn" target="_blank" href="{{togoGenomeUrl}}">TogoGenome</a>
    </span>
  </p>
  <p class="name">{{scientific_name}}</p>
  <p class="authority-name">{{#if authority_name}} <span>Authority name</span>: {{authority_name}} {{/if}}</p>
  <h3>Lineage</h3>
  <table class="lineage-table">
    {{#each lineage}}
      <tr {{#if current}}data-current{{/if}}>
        <th>{{rank}}</th>
        <td>
          {{#if current}}
            <span>{{label}}</span>
          {{/if}}
          {{#unless current}}
            <a href={{link}}>{{label}}</a>
          {{/unless}}
        </td>
        <td>
          <a class="link-btn" target="_blank" href="{{ncbiUrl}}">NCBI</a>
          <a class="link-btn" target="_blank" href="{{togoGenomeUrl}}">TogoGenome</a>
        </td>
      </tr>
    {{/each}}
  </table>
</div>
