<div class="wrapper">
  <p class="tax-id">
    <span class="key">Taxonomy ID: </span>
    <span class="value">{{taxid}}</span>
    <span class="links">
      <a class="link-btn" target="_blank" href="{{ncbiUrl}}">NCBI</a>
      <a class="link-btn" target="_blank" href="{{togoGenomeUrl}}">TogoGenome</a>
    </span>
  </p>
  <p class="name">{{scientific_name}}</p>
  <p class="authority-name">{{#if authority_name}} <span>Authority name</span>: {{authority_name}} {{/if}}</p>
  <h3>Lineage</h3>
  <ul class="lineage-list">
    {{#each lineage}}
      <li class="list-group-item  {{#if @last}}current{{/if}}">
        <span class="rank">{{rank}}</span>
        <span class="label">
          {{#unless @last}}<a href="{{link}}">{{label}}</a>{{/unless}}
          {{#if @last}}{{label}}{{/if}}
          </span>
      </li>
    {{/each}}
  </ul>
  <h3>{{subClass.label}}</h3>
  {{#each subClass.items}}
    <a href="{{link}}">{{label}}</a>
  {{/each}}

</div>
