<div class="wrapper">

  {{#if error}}
    <p class="error">{{{statusText}}}</p>
  {{/if}}

  {{#unless error}}
    <p class="gm-id">
      <span class="key">Growth Medium ID: </span>
      <span class="value">{{id}}</span>
      <span class="links">
        <a class="link-btn" target="_blank" href="{{src_url}}">{{src_label}}</a>
      </span>
    </p>
    <p class="title">
      <span class="value">{{name}}</span>
      {{#if ph }}
        <span class="ph"> (pH{{ph}})</span>
      {{/if}}
    </p>
    <div class="recipe">
      <h3>Components</h3>
      {{#each components}}
        {{#if items }}
          {{#if subcomponent_name}}
            <h4>{{subcomponent_name}}</h4>
          {{/if}}
          <table class="component-table">
            <tr>
              <th class="id">GMO ID</th>
              <th class="name">GMO Label</th>
              <th class="name">Component</th>
              <th class="volume"></th>
              <th class="volume"></th>
            </tr>
            {{#each items}}
              <tr>
                <td class="id">
                  <a href="/component/{{gmo_id}}">{{gmo_id}}</a>
                </td>
                <td class="name">
                  <span class="{{#if can_wrap_label}}can-wrap{{/if}}">{{{label}}}</span>
                </td>
                <td class="name">
                  <span class="{{#if can_wrap_name}}can-wrap{{/if}}">{{{component_name}}}</span>
                </td>
                <td class="volume">
                  <span>{{volume}}</span><span>{{unit}}</span>
                </td>
                <td class="volume">
                  <span>{{conc_value}}</span><span>{{conc_unit}}</span>
                </td>
              </tr>
            {{/each}}
          </table>
        {{/if}}
        {{#if comment}}
          <p>{{{comment}}}</p>
        {{/if}}
      {{/each}}
    </div>
  {{/unless}}
</div>
