<div class="wrapper">
  <p class="gmo-id">
    <span class="key">GMO ID: </span>
    <span class="value">{{gmo_id}}</span>
  </p>
  <p class="name">
    <span class="value">{{pref_label}}</span>
  </p>

  {{#if alt_labels_en}}
    <p class="simple-iteration">Alternative labels:<br>
      {{#each alt_labels_en}}
        <span>{{this}}{{#unless @last}}, {{/unless}}</span>
      {{/each}}
    </p>
  {{/if}}

  {{#if properties}}
    <h3>Properties</h3>
    <p class="simple-iteration">
      {{#each properties}}
        <span>
            {{label_en}}{{#unless @last}}, {{/unless}}
          </span>
      {{/each}}
    </p>
  {{/if}}

  {{#if roles}}
    <h3>Functions</h3>
    <ul>
      {{#each roles}}
        <li>
          {{label_en}}
        </li>
      {{/each}}
    </ul>
  {{/if}}

  {{#if super_classes}}
    <h3>Super classes</h3>
    <ul class="id-list">
      {{#each super_classes}}
        <li>
          <span><a href="/component/{{gmo_id}}">{{gmo_id}}</a></span>
          <span>{{label_en}} </span>
        </li>
      {{/each}}
    </ul>
  {{/if}}

  {{#if sub_classes}}
    <h3>Sub classes</h3>
    <ul class="id-list">
      {{#each sub_classes}}
        <li>
          <span><a href="/component/{{gmo_id}}">{{gmo_id}}</a></span>
          <span>{{label_en}}</span>
        </li>
      {{/each}}
    </ul>
  {{/if}}


  {{#if links}}
    <h3>Links</h3>
    <p>
      {{#each links}}
        <a class="link-btn" href="{{uri}}" target="_blank">{{label}}</a>
      {{/each}}
    </p>
  {{/if}}

</div>
